/* KANBAN BOARD STYLES */

/* HEADER */
.kanban_board_titles {
	margin: 0;
	padding: 0;
}

.kanban_board_title {
	margin: 1%;
	padding: 1rem;
	color: #fff;
	position: relative;
}

.kanban_board_title:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;
	background: #343a40;
	display: block;
	clear: both;
}

.kanban_board_title p {
	margin: 0;
	position: relative;
	z-index: 10;
}

/* BLOCK */
.kanban_board_blocks {
	margin: 0;
	padding: 0;
}

.kanban_board_block {
	margin: 1%;
	padding: 1rem;
	background: #f2f2f2;
	max-height: 70vh;
	overflow-y: auto;
}

.kanban_board_block_item_placeholder {
	display: block;
	clear: both;
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	border: 1px dashed #000;
}

/* FOOTER */
.kanban_board_footers {
	margin: 0;
	padding: 0;
}

.kanban_board_footer {
	margin-top: 1%;
	position: relative;
}

/* CARD */
.card {
	margin-bottom: 5%;
}

/*MODAL*/
label.error.fail-alert {
	line-height: 1;
	padding: 2px 0 6px 6px;
	color: red;
}
.valid.success-alert {
	border: 2px solid #4CAF50;
	color: green;
}

.modal-body.error {

}
